<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mongo.smart_study.mapper.CMSUserMapper">
    <select id="getCMSUser" resultType="CMSUser">
        select * from cms_user
    </select>

    <select id="getCMSUserById" resultType="CMSUser">
        select * from cms_user where id = #{id}
    </select>

    <select id="findCMSUserByName" resultType="CMSUser">
        select * from cms_user where username = #{username}
    </select>

    <insert id="addCMSUser" parameterType="CMSUser">
        insert into cms_user (username,password,email,phone_number,join_time,roles) values (#{username},#{password},#{email},#{phoneNumber},#{joinTime},#{roles})
    </insert>

    <update id="updateCMSUser" parameterType="CMSUser">
        update cms_user set username=#{username},password=#{password} where id=#{id}
    </update>

    <delete id="deleteCMSUser" parameterType="int">
        delete from cms_user where id = #{id}
    </delete>


</mapper>
