<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mongo.smart_study.mapper.PostImageMapper">
    <insert id="addPostImage" parameterType="PostImages">
        insert into post_images (post_id, image_src, join_time) VALUES (#{postId},#{imageSrc},#{joinTime})
   </insert>
    <select id="getAllImagesById" resultType="PostImages">
        select *from post_images where post_id=#{id}
    </select>
    <select id="getImageById" resultType="PostImages">
        select * from post_images where id=#{id}
    </select>

</mapper>